.push {
	--duration: 0;
	--timingFunction:ease;

		.show{
			animation: push-in var(--duration) var(--timingFunction);
		}
		.hide{
			animation: push-out var(--duration) var(--timingFunction);
		}
}

@keyframes push-in {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	60% {
		opacity: 1;
		transform: translateX(10%);

	}

	100% {
		opacity: 1;
		transform: translateX(0%);

	}
}

@keyframes push-out {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	60% {
		opacity: 0;
		transform: translateX(110%);

	}

	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}