.scale {
    --duration:0s;
	--timingFunction:ease;

	i {
		transform: scale(0);

		&.in {
			 animation: scale-up var(--duration) var(--timingFunction) forwards;
		}

		&.out {
			 animation: scale-down var(--duration) var(--timingFunction) forwards;
		}
	}
}
 @keyframes scale-up  {
	0% {
		 transform: scale(0);
		opacity: 0;
	}

	60% {
		 transform: scale(1.2);
		opacity: 1;
	}

	100% {
		 transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale-down  {
	0% {
		 transform: scale(1);
		opacity: 1;
	}

	60% {
		 transform: scale(0);
		opacity: 0;
	}
}