.zoom {
    --duration:0;
    --timingFunction:ease;

	.words-wrapper {
		perspective: 300px;

        .show {
            animation: zoom-in var(--duration) var(--timingFunction);
        }

        .hide {
            animation: zoom-out var(--duration) var(--timingFunction);
        }
	}
}

@keyframes zoom-in {
	from {
		opacity: 0;
		transform: translateZ(100px);
	}

	to {
		opacity: 1;
		transform: translateZ(0)
	}
}

@keyframes zoom-out{
	from {
		opacity: 1;
        transform: translateZ(0)

	}
	to {
		opacity: 0;
        transform: translateZ(100px);
    }
}