
.words-wrapper {

	display: inline-block;
	position: relative;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;

	.word{
		display: inline-block;
		position: absolute;
		top:0;
		left: 0;

		i,em{
			font-style: normal;
			display: inline-block;
		}
		i{
			backface-visibility:hidden;
		}
	}

	.relative{
		position: relative;
	}
	.show{
		opacity: 1 !important;
	}
}

.word-ani{
	span{
		opacity: 0;
	}
}



@import './clip';
@import './flip';
@import './rotate1';
@import './rotate2';
@import './slide';
@import './zoom';
@import './push';
@import './scale';


// @import './loading';
// @import './type';

