.rotate1 {
	--duration: 0;
	--timingFunction:ease;
	.words-wrapper{
		perspective: 300px;

		.word {
			transform-origin: 50% 100% ;
		}
		.visible{
			opacity: 1;
			animation: rotate-1-in var(--duration) var(--timingFunction);
		}
		.hidden{
			animation: rotate-1-out var(--duration) var(--timingFunction);
		}
	}
	
	
}

@keyframes rotate-1-in {
	0% {
		transform: rotateX(180deg);
		opacity: 0;
	}

	35% {
		transform: rotateX(120deg);
		opacity: 0;
	}

	65% {
		opacity: 0;
	}

	100% {
		transform: rotateX(360deg);
		opacity: 1;
	}
}

@keyframes rotate-1-out {
	0% {
		transform: rotateX(0deg);
		opacity: 1;
	}

	35% {
		transform: rotateX(-40deg);
		opacity: 1;
	}

	65% {
		opacity: 0;
	}

	100% {
		transform: rotateX(180deg);
		opacity: 0;
	}
}